In [ ]:
import keyring
import requests as rq
from io import BytesIO
import zipfile
import xmltodict
import json
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from datetime import date, datetime
from dateutil.relativedelta import relativedelta

# Securely assign api_key
keyring.set_password('dart_api_key', 'Jaechul', 'a6aca9fa6bec768a69f2043f18ec0e386966013e')
api_key = keyring.get_password('dart_api_key', 'Jaechul')

# Retrieve ticker from the following website
codezip_url = f'''https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key={api_key}'''
codezip_data = rq.get(codezip_url)

codezip_file = zipfile.ZipFile(BytesIO(codezip_data.content))

code_data = codezip_file.read('CORPCODE.xml').decode('utf-8')
data_odict = xmltodict.parse(code_data)
data_dict = json.loads(json.dumps(data_odict))
data = data_dict.get('result').get('list')
corp_list = pd.DataFrame(data)

# Limit to listed Companies
corp_list = corp_list[~corp_list['stock_code'].isna()].reset_index(drop=True)

# Connect to MySQL and load the listed companies in a table: dart_code
engine = create_engine('mysql+pymysql://root:Nvnv6006!?@127.0.0.1:3306/stock_db')
corp_list.to_sql(name='dart_code', con=engine, index=True, if_exists='replace')

,corp_code,corp_name,corp_eng_name,stock_code,modify_date
0,00260985,한빛네트,"HanbitNet, Inc.",036720,20170630
1,00264529,엔플렉스,"Nplex,Inc.",040130,20170630
2,00358545,동서정보기술,"Dong Seo Information Technology Co., Ltd.",055000,20170630
3,00231567,애드모바일,None,032600,20170630
4,00359614,리더컴,"LEADER COMM.Co.,Ltd",056140,20170630

In [ ]:
# Initialize dataframe 
df_fs = pd.DataFrame()

# Necessary metrics to calculate ROA, ROE, etc...
financial_metrics = [
    "유동자산",
    "비유동자산",
    "자산총계",
    "유동부채",
    "비유동부채",
    "부채총계",
    "자본총계",
    "자본금",
    "이익잉여금",
    "매출액",
    "영업이익",
    "당기순이익",
    "총포괄손익"
]

bsns_year = str(datetime.now().year - 1) # Set to the most recent business year
reprt_code = '11011' # Code for the most recent business report
for corp_code in corp_list['corp_code']:
    fs_url = (
        f"https://opendart.fss.or.kr/api/fnlttSinglAcnt.json"
        f"?crtfc_key={api_key}&corp_code={corp_code}&bsns_year={bsns_year}&reprt_code={reprt_code}"
    )
    fszip_data = rq.get(fs_url)
    data = fszip_data.json().get('list')
    if data:
        fs_list = pd.DataFrame(data)
        filtered_df = fs_list[fs_list['account_nm'].isin(financial_metrics)]
        df_fs = pd.concat([df_fs, filtered_df], ignore_index=True)

df_corpname = df_fs.merge(corp_list[['corp_code', 'corp_name']], on='corp_code', how='left')
df_corpname.to_sql(name='fs_number', con=engine, index=True, if_exists='replace')

In [4]:
bsns_year = str(datetime.now().year - 1) # Set to the most recent business year
reprt_code = '11011' # Code for the most recent business report

In [ ]:
df_metrics = pd.DataFrame()

# idx_cl_list = ['M210000', 'M220000', 'M230000', 'M240000']
"""
수익성지표 (prof): M210000
안정성지표 (stab): M220000
성장성지표 (grow): M230000
활동성지표 (acti): M240000
"""
idx_cl_code = 'M210000'  # Example index class code for 'KOSPI'
for corp_code in corp_list['corp_code']:
# for idx_cl_code in idx_cl_list:
    metric_url = f"https://opendart.fss.or.kr/api/fnlttSinglIndx.json?crtfc_key={api_key}&corp_code={corp_code}&bsns_year={bsns_year}&reprt_code={reprt_code}&idx_cl_code={idx_cl_code}"
    div_data_met = rq.get(metric_url)
    div_data_met_df = div_data_met.json().get('list')
    if div_data_met_df:
        div_data_met_df = pd.DataFrame(div_data_met_df)
        df_metrics = pd.concat([df_metrics, div_data_met_df], ignore_index=True)

engine = create_engine('mysql+pymysql://root:Nvnv6006!?@127.0.0.1:3306/stock_db')
df_metrics.to_sql(name='fs_metrics', con=engine, index=True, if_exists='replace')

AttributeError: 'DataFrame' object has no attribute 'tosql'